body {
    /* align-items: center; */
    text-align: center;
    background-image: linear-gradient(to left, blue, skyblue, lightblue, rgb(75, 75, 219));
}

.container {
    margin-top: 25vh;
}

.title {
    font-size: 8vh;
    font-weight: 600;
    font-family: Algerian;
    font-style: italic;
    color: palevioletred;
}

button {
    font-size: 30px;
    margin: 12px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    font-weight: bolder;
    background-image: radial-gradient(yellow, orange, red);
}

#start {
    display: block;
    margin: auto;
    color: rgb(47, 47, 230);
    background-image: radial-gradient(rgb(0, 255, 30), rgb(43, 173, 63), rgb(43, 192, 60));
}

#result {
    font-size: 60px;
}

#winner {
    font-size: 40px;
}